<p id="notice"><%= notice %></p>

<h1>Txs</h1>

<table class="table table-dark">
  <thead class="thead-light">
    <tr>
      <th>#</th>
      <th>Input currency</th><span>
      <th>Input amount</th><span>
      <th>Customer ID</th><span>
      <th>Output currency</th><span>
      <th>Output amount</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @txes.each do |tx| %>
      <tr>
        <td><%= tx.id %></td>
        <td><%= tx.iCurrency %></td>
        <td><%= tx.iAmount %></td>
        <td><%= tx.customer_id %></td>
        <td><%= tx.oCurrency %></td>
        <td><%= tx.oAmount %></td>
        <td><%= tx.created_at %></td>
        
        <td><%= link_to 'Show', tx %></td>
        <td><%= link_to 'Edit', edit_tx_path(tx) %></td>
        <td><%= link_to 'Egress', tx, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tx', new_tx_path %>
