<p id="notice"><%= notice %></p>
<p>
  <strong>Input currency:</strong>
  <%= @tx.iCurrency %>
</p>
<p>
  <strong>Input amount:</strong>
  <%= @tx.iAmount %>
</p>


<p>
  <strong>Outputcurrency:</strong>
  <%= @tx.oCurrency %>
</p>
<p>
  <strong>Output amount:</strong>
  <%= @tx.oAmount %>
</p>



<%= link_to 'Edit', edit_tx_path(@tx) %> |
<%= link_to 'Back', txes_path %>
